.picker-choice {
  display:inline-block;
  padding:10px;
  border-radius:20px;
  line-height: 10px;
  font-size:20px;
  cursor:pointer;
}

.picker-choice svg{
  vertical-align: 0;
}

.picker-choice:hover{
  background:#eee;
}