.game-history {
}

.game-round {
  display: flex;
  background: #20272e;
  margin: 10px;
  color: #5f7185;
  text-align: left;
  padding: 2px;
  box-shadow: 1px 1px 0px 1px #15171a;
}

.movie-title {
  font-size:15px;
  padding:2px 10px;
}