.user-avatar{
  font-size:25px;
}

.user-button {
}

.user {
  cursor:pointer;
  opacity: 0.5;
}

input[class="user-button-radio"]:checked + div {
  opacity: 1;
}

input[class="user-button-radio"]:focus + div {
  background:#2F3B4A;
}

.user:hover {
  background:#2F3B4A;
}

.user button{
  font-size: 9px;
}

.user.selected{
  border-color: #f00;
}