.game-layout {
  display: flex;
}

.game-title {
  margin: 20px;
  color: #79a2c3;
  font-weight: 900;
  font-size: 22px;
}

.game-theater {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-history-col, .prompt-history-col {
  flex: 1;
}

.question {
  /* width:400px; */
  flex-grow: 1;
}

.prompt {
  flex-grow: 1;
}

