.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}




input[class="choice-radio"]:checked + div {
  color:orange;
}

input[class="choice-radio"] {
  position: absolute;
  opacity: 0;
}

.gender-choice {
  font-family: monospace;
  font-size: 25px;
  display:inline;
  margin:12px;
  cursor:pointer;
}

.user {
  border:1px solid;
  width:100px;
  float:right;
}

.user button{
  font-size: 9px;
}

.user.selected{
  border-color: #f00;
}